// --- Imports --------
// --------------------
@import 'normalize', 'compass/css3';


// --- Animations -----
// --------------------
@keyframes powerUp {
  0%   { transform: scale3d(1, 1, 1); }
  3%   { transform: scale3d(0.9, 0.9, 0.9); }
  4%   { transform: scale3d(1, 1, 1); }
  100% { transform: scale3d(1, 1, 1); }
}

@keyframes fadeIn {
  0%  { opacity: 0; }
  50% { opacity: 1; }
}


// --- Fonts ----------
// --------------------
@include font-face('Kontrapunkt Bob', font-files(
  'kontrapunkt_bob_bold-webfont.eot',
  'kontrapunkt_bob_bold-webfont.ttf',
  'kontrapunkt_bob_bold-webfont.woff',
  'kontrapunkt_bob_bold-webfont.woff2'),
  'kontrapunkt_bob_bold-webfont.eot',
  bold, normal
);

@include font-face('Kontrapunkt Bob', font-files(
  'kontrapunkt_bob_light-webfont.eot',
  'kontrapunkt_bob_light-webfont.ttf',
  'kontrapunkt_bob_light-webfont.woff',
  'kontrapunkt_bob_light-webfont.woff2'),
  'kontrapunkt_bob_light-webfont.eot',
  normal, normal
);


// --- Variables ------
// --------------------
$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;
$turquoise:     #1abc9c;
$green-sea:     #16a085;
$nephritis:     #27ae60;
$emerland:      #2ecc71;
$peter-river:   #3498db;
$belize-hole:   #2980b9;
$midnight-blue: #2c3e50;
$wet-asphalt:   #34495e;
$amethyst:      #9b59b6;
$wisteria:      #9a4fb9;
$sun-flower:    #f1c40f;
$orange:        #f39c12;
$carrot:        #e67e22;
$pumpkin:       #d35400;
$pomegranate:   #c0392b;
$alizarin:      #e74c3c;


// --- Basic Styles ---
// --------------------
body {
  font: normal normal 1.5em/125% 'Kontrapunkt Bob', serif;
}

img {
  max-width: 100%;
}

.wrapper {
  animation: fadeIn 2s;
  left: 50%;
  margin: 2em;
  max-width: 256px;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);

  img {
    animation: powerUp 5s infinite;
    width: 65%;
  }
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  color: $midnight-blue;
  margin: 0;
}
